<div class="login-container">
  <!-- Sol Kısım -->
  <div class="left-panel">
    <h1>💰 Bütçe Takip Yazılımına Hoşgeldiniz</h1>
    <p>Gelir ve giderlerinizi kolayca yönetin.<br> Kişisel finansınızı kontrol altına alın.</p>
  </div>

  <!-- Sağ Kısım -->
  <div class="right-panel">
    <div class="login-box">
      <h2>Giriş Yap</h2>

    <form (ngSubmit)="onLogin()">
  <div class="form-group">
    <input type="text" [(ngModel)]="username" name="username" placeholder="Kullanıcı Adı" required />
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="password" name="password" placeholder="Şifre" required />
  </div>
  <button type="submit" class="btn-login">Giriş Yap</button>
</form>

<p *ngIf="errorMessage" style="color:red; margin-top:10px;">
  {{ errorMessage }}
</p>


      <p class="register-link">
        Hesabınız yok mu? <a href="#">Kayıt Ol</a>
      </p>
    </div>
  </div>
</div>
