<div class="login-container">
  <!-- Sol panel -->
  <div class="left-panel">
    <h1>💰 Bütçe Takip Yazılımına Hoşgeldiniz</h1>
    <p>
      Gelir ve giderlerinizi kolayca yönetin. <br />
      Kişisel finansınızı kontrol altına alın.
    </p>
  </div>

  <div class="right-panel">
  <h2 >Hoşgeldiniz 👋</h2>
  

  <form>
    <div class="form-group">
      <label for="username">Kullanıcı Adı</label>
      <input type="text" id="username" placeholder="Email Address" />
    </div>

    <div class="form-group">
      <label for="password">Şifre</label>
      <input type="password" id="password" placeholder="Password" />
    </div>

    <button type="submit" class="btn-login">Login</button>
  </form>

  <p class="register-text">
    Şifrenizi mi unuttunuz? <a href="#">Parola Sıfırla</a>
  </p>
</div>
</div>

